{%extends 'base.html'%}
{%block section%}
    

<h1>Movimientos</h1>
<table role="grid">
 <thead>
     <tr>
         <th>Fecha</th>
         <th>Hora</th>
         <th>Moneda from</th>
         <th>Cantidad from</th>
         <th>Moneda to</th>
         <th>Cantidad to</th>
         
     </tr>
 </thead>
 <tbody>
     {%for Movimientos in data%}
     <tr>
         <td>{{Movimientos.fecha}}</td>
         <td>{{Movimientos.hora}}</td>
         <td>{{Movimientos.moneda_from}}</td>
         <td>{{Movimientos.cantidad_from}}</td>
         <td>{{Movimientos.moneda_to}}</td>
         <td>{{Movimientos.cantidad_to}}</td>

     </tr>
     {%endfor%}
 </tbody>
</table>
{%endblock%}