<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCrypto {{pageTitle}}</title>
    <link rel="stylesheet" href="/static/css/pico.css">
    
    
</head>
<body>
    <header>
        <div class="container">
            App MyCrypto
        </div>
        <nav class="container">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Compra</a></li>
                <li><a href="#">Status</a></li>
            </ul>
        </nav>

    </header>
    
    <section class="container">
       

    </section>
    <footer>
        <div class="container">
            &copy; 2023 Daniel Jurado
        </div>

    </footer>
    
</body>
</html>