{%extends 'base.html'%}
{%block section%}
<form>

    <!-- Grid -->
    <div class="grid">
        <div>
            <!-- Markup example 1: input is inside label -->
            <label for="firstname">
                First name
                <input type="text" id="firstname" name="firstname" placeholder="First name" required>
            </label>

            <label for="lastname">
                Last name
                <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
            </label>
        </div>

        <div>
            <!-- Markup example 1: input is inside label -->
            <label for="firstname">
                First name
                <input type="text" id="firstname" name="firstname" placeholder="First name" required>
            </label>

            <label for="lastname">
                Last name
                <input type="text" id="lastname" name="lastname" placeholder="Last name" required>
            </label>
        </div>




    </div>

</form>
{%endblock%}