{%extends 'base.html'%}
{%block section%}
<h1>Compra de Cripto monedas</h1>
{% if errores %}
<ul class="errors">
    {% for error in errores %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="/purchase" , method="post">


    <div class="grid">
        <div>
            <label for="moneda_from">From</label>
            <select id="moneda_from" name="moneda_from" required>
                <option value="">Ingrese tipo de moneda</option>
                <option value="EUR" {% if moneda_from=="EUR" %} selected {% endif %}>EUR</option>
                <option value="ETH" {% if moneda_from=="ETH" %} selected {% endif %}>ETH</option>
                <option value="BNB" {% if moneda_from=="BNB" %} selected {% endif %}>BNB</option>
                <option value="ADA" {% if moneda_from=="ADA" %} selected {% endif %}>ADA</option>
                <option value="DOT" {% if moneda_from=="DOT" %} selected {% endif %}>DOT</option>
                <option value="BTC" {% if moneda_from=="BTC" %} selected {% endif %}>BTC</option>
                <option value="USDT" {% if moneda_from=="USDT" %} selected {% endif %}>USDT</option>
                <option value="XRP" {% if moneda_from=="XRP" %} selected {% endif %}>XRP</option>
                <option value="SOL" {% if moneda_from=="SOL" %} selected {% endif %}>SOL</option>
                <option value="MATIC" {% if moneda_from=="MATIC" %} selected {% endif %}>MATIC</option>


            </select>
            <label for="cantidad_from">
                Q
                <input type="number" step="any" id="cantidad_from" name="cantidad_from" value="{{cantidad_from}}"
                    required>
            </label>
            <button type="submit" name="action" value="calculate">
                <span class="material-symbols-outlined">
                    calculate
                </span>
            </button>


        </div>

        <div>
            <label for="moneda_to">to</label>
            <select id="moneda_to" name="moneda_to" required>
                <option value="">Ingrese tipo de moneda</option>
                <option value="EUR" {% if moneda_to=="EUR" %} selected {% endif %}>EUR</option>
                <option value="ETH" {% if moneda_to=="ETH" %} selected {% endif %}>ETH</option>
                <option value="BNB" {% if moneda_to=="BNB" %} selected {% endif %}>BNB</option>
                <option value="ADA" {% if moneda_to=="ADA" %} selected {% endif %}>ADA</option>
                <option value="DOT" {% if moneda_to=="DOT" %} selected {% endif %}>DOT</option>
                <option value="BTC" {% if moneda_to=="BTC" %} selected {% endif %}>BTC</option>
                <option value="USDT" {% if moneda_to=="USDT" %} selected {% endif %}>USDT</option>
                <option value="XRP" {% if moneda_to=="XRP" %} selected {% endif %}>XRP</option>
                <option value="SOL" {% if moneda_to=="SOL" %} selected {% endif %}>SOL</option>
                <option value="MATIC" {% if moneda_to=="MATIC" %} selected {% endif %}>MATIC</option>



            </select>
            <label for="cantidad_to">
                Q
                <input type="number" id="cantidad_to" name="cantidad_to" value="{{cantidad_to}}" readonly="readonly">
            </label>
            <label for="unit">
                PU
                <input type="number" id="unit" name="unit" value="{{unit}}" readonly="readonly">
            </label>
            <button type="submit" name="action" value="purchase">Aceptar</button>

        </div>




    </div>

</form>
{%endblock%}